<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
</head>
<body>
    <form action ="Destination" method ="post">
    {% csrf_token %}
    <input type = "text" name = "city_name" placeholder ="city_name"><br>
    <input type = "int" name = "price" placeholder =" Price"><br>
    <input type = "boolean" name = "offer" placeholder =" Offer"><br>
    </form>
    <div> 
    {% if messages %}
    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}
    {% endif %}

    </div>
</body>
</html>